<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="~/css/main.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="icon" href="~/img/favicon.png" type="image/x-icon" />
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" integrity="sha512-CbQfNVBSMAYmnzP3IC+mZZmYMP2HUnVkV4+PwuhpiMUmITtSpS7Prr3fNncV1RBOnWxzz4pYQ5EAGG4ck46Oig==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.16/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
	<!--Posibles estilos a aplicar. False porque es opcional. La página que lo necesita, declara la sección.-->
	@RenderSection("Styles", false)
	<title>@ViewBag.Title</title>
	<!--<title>@ViewData["Title"]</title> SON SIMILARES-->
</head>
<body onload="init()">
	<header>
		<nav class="site-header fixed-top py-1">
			<!-- sticky-top -->
			<div class="container d-flex flex-column flex-md-row justify-content-between">
				@if (!User.Identity.IsAuthenticated)
				{
					<a class="py-2" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i> Inicio</a>
					<a class="py-2 d-none d-md-inline-block float-right" href='@Url.Link("login", null)'><i class="fa-solid fa-right-to-bracket"></i> Acceder</a>
				}
				else
				{
					<div class="dropdown">
						<a class="btn btn-primary dropdown-toggle text-light" href="#" role="button" id="homeMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
							<i class="fa-solid fa-house"></i> Inicio
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item text-dark" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i> Inicio</a>
							<a class="dropdown-item text-dark" asp-controller="Home" asp-action="Seguro"><i class="fa-solid fa-id-card"></i> Claims</a>
							<a class="dropdown-item text-dark" asp-controller="Home" asp-action="Fecha" 
								asp-route-anio="@DateTime.Today.Year" asp-route-mes="@DateTime.Today.Month" asp-route-dia="@DateTime.Today.Day">
								<i class="fa-solid fa-calendar-check"></i> Fecha
							</a>
						</div>
					</div>
					@if (User.IsInRole("Administrador") || User.IsInRole("SuperAdministrador"))
					{
						<a class="py-2 d-none d-md-inline-block" asp-controller="Usuarios" asp-action="Index"><i class="fa-solid fa-user"></i> Usuarios</a>
					}
					<a class="py-2 d-none d-md-inline-block" asp-controller="Propietarios" asp-action="Index"><i class="fa-solid fa-person"></i> Propietarios</a>
					<a class="py-2 d-none d-md-inline-block" asp-controller="Inmuebles" asp-action="Index"><i class="fa-solid fa-building"></i> Inmuebles</a>
					<a class="py-2 d-none d-md-inline-block" asp-controller="Alquileres" asp-action="Index"><i class="fa-solid fa-file-contract"></i> Alquileres</a>
					<div class="dropdown">
						<a class="btn btn-primary dropdown-toggle text-light" href="#" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
							<i class="fa-solid fa-user"></i> @User.Identity.Name
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item text-dark" asp-controller="Usuarios" asp-action="Perfil"><i class="fa-solid fa-user"></i> Perfil</a>
							<a class="dropdown-item text-dark" asp-controller="Usuarios" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i> Salir</a>
						</div>
					</div>
				}
			</div>
		</nav>
	</header>
	<main role="main" class="container">
		<div class="">
			<div class="m-1 p-1">
				@RenderBody()
			</div>
		</div>
	</main>
	<footer class="footer">
		<div class="container">
			<span class="text-muted">&copy; @DateTime.Today.Year Universidad de La Punta &middot; <a href="https://github.com/marianoluzza/inmobiliariaULP"><i class="fa-brands fa-github"></i> Repo</a> &middot; <a href="https://docs.google.com/document/d/1VqhEIR3T5QwZG2N371M-0fIUqPdmDdNy9AQ06D7zxfo">Narrativa</a> <a class="float-right" href="#">Volver arriba</a></span>
		</div>
	</footer>
	<script type="text/javascript">
		const notyf = new Notyf({
			duration: 2500,
			types: [
				{
					type: 'info',
					background: '#004085',
					icon: {
						className: 'fa-solid fa-circle-info',
						tagName: 'i',
						color: 'white'
					}
				}
			]
		});
		function init() {
			let error = "@(ViewBag.Error??"")";
			let mensaje = "@(ViewBag.Mensaje??"")";
			let id = +"@(ViewBag.Id??0)";
			notyf.info = function(mensaje) {
				notyf.open({
					type: 'info',
					message: mensaje,
				});
			}
			if(error) {
				notyf.error(error);
			}
			if(mensaje) {
				notyf.info(mensaje);
			}
			if(id) {
				notyf.success(`La entidad fue dada de alta con id: ${id}`);
			}
		}

		function buscarPropietarios(q) {
			return $.ajax({//documentación: https://api.jquery.com/jquery.ajax/
				url: `@Url.Action("Buscar", "Propietarios")/${q}`,
				//method: "GET",
				//data: {...},
			}).done(res => {
				console.log("Búsqueda: ", res);
				console.table(res.datos);
			}).fail(res => {
				console.log("Error: ", res);
			});
		}

		function modalLogin() {
			var modal = document.getElementById("modal_login");
			var abrirModal = () => {//función flecha
				//modales: https://getbootstrap.com/docs/4.0/components/modal/
				$('#modal_login').modal("show");
			}
			if (!modal) {
				$.ajax({
					url: `@Url.Action("LoginModal", "Usuarios")`,
				}).done(res => {
					console.log("Modal: ", res);
					var div = document.createElement("div");
					div.innerHTML = res;
					document.body.appendChild(div);
					abrirModal();
				}).fail(res => {
					console.log("Error: ", res);
				});
			} else {
				abrirModal();
			}
		}
	</script>
	@await Html.PartialAsync("_ScriptsPartial")
	@RenderSection("Scripts", false)
</body>
	</html>
