@model IEnumerable<Inmobiliaria_.Net_Core.Models.Persona>

@{
	ViewData["Title"] = "Index";
	//Operadores ?? ?. ?: 
	//https://learn.microsoft.com/es-mx/dotnet/csharp/language-reference/operators/null-coalescing-operator
	//https://learn.microsoft.com/es-mx/dotnet/csharp/language-reference/operators/conditional-operator
	//https://learn.microsoft.com/es-mx/dotnet/csharp/language-reference/operators/member-access-operators#null-conditional-operators--and-
	int cantidad = (int)(ViewData["Cantidad"] ?? 0);
	Persona pDatos = (Persona)ViewBag.Datos;
	string saludo = (string)ViewBag.Otro;
}

<h1>Listado de Personas (@cantidad)</h1>
<h2>@saludo</h2>
<p>
	@if (pDatos.Id > 0)
	{
		<a asp-action="Edit">Editar persona</a>
	}
	else
	{
		<a asp-action="Create">Crear nueva persona</a>
	}
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
					@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
				</td>
			</tr>
		}
	</tbody>
</table>
